* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Cambria", Times, serif, sans-serif;
  color: #333;
  font-size: 1.2rem; /* rem se refiere al tamaño de la fuente en el elemento raiz */
  line-height: 1.4em; /* em se refiere al tamaño de la fuente del el elemento donde está contenido */
  margin: 0;
}

h1 {
  font-size: 2rem;
  line-height: 1.3em; /* interlineado del texto */
}

h2 {
  font-size: 1.1rem;
  line-height: 1.3em; /* interlineado del texto */
}

p {
  font-size: 1rem;
  margin-bottom: 0.6em;
}

.container {
  width: 85%;
  max-width: 1100px;
  margin: 0 auto;
  
}

.header {
  background: #333;
  color: white;
  padding: 2rem 0;
  position: fixed; /* hace que se quede fijo la cabecera*/
  left: 0;
  top: 0;
  right: 0;
}

.header a {
  color: white;
  text-decoration: none; /* quita el subrayado*/
  align-items: center;
}

.logo-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.menu-icon {
  display: none;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation ul li {
  display: inline-block;
}

.navigation ul li a {
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.2s linear;
  border-radius: 5px;
  font-size: 1.2rem;
}

.navigation ul li a:hover {
  background: rgb(119, 118, 118);
}

.main {
  padding-top: 10rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  

}

/* Pie de página */

.pie-pagina {
  height: 100%;
  background-color: #3c3c3c;
  color: white;
}

.pie1 {
  height: 100%;
  background-color: #3c3c3c;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 0;
}

.box1 {
  width: 22.33%;
  text-align: center;
  min-width: 368px;
  margin-top: 30px;
}

.box1 img {
  margin-bottom: 10px;
  margin-top: 10px;
}

.box2 {
  width: 22.33%;
  min-width: 368px;
}

.box2 h2 {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 0.3rem;
  font-weight: 300;
  text-decoration: none;
  color: white;
  
}

.box3 {
  width: 22.33%;
  text-align: center;
  min-width: 368px;
  align-items: baseline;
}

.box3 img {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 40px;
  text-decoration: none;
  
}

.pie-pagina .pie2 {
  background-color: #3c3c3c;
  padding: 10px 10px;
  text-align: center;
  font-weight: 300;
}

/* Clases para los elementos cuando la pantalla del navegador es más pequeña */

@media only screen and (max-width: 767px) {
  .menu-icon {
    display: block;
    cursor: pointer;
    padding: 0.5rem 1rem;
  }

  .navigation {
    width: 100%;
    padding-top: 1rem;
  }

  .navigation ul {
    display: none;
  }

  .navigation ul.show {
    display: block;
  }

  .navigation ul li {
    display: block;
  }

  .navigation ul li a {
    display: block;
    padding: 0.5rem 0;
    transition: all 0.2s linear;
    border-radius: 5px;
  }

  .navigation ul li a:hover {
    background: rgb(119, 118, 118);
  }
}

/* tabla en html */

.tabla {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  height: 200px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}

.color1 {
  background-color: #3c3c3c;
  color: white;
}

.color2 {
  background-color: #515151;
}

.color3 {
  background-color: #666666;
}

.color4 {
  background-color: #8c8c8c;
}

.color5 {
  background-color: #b5b5b5;
}

/*video dinosaurio*/

.video-container{
  width: 100%;
  height: auto;
  overflow: hidden;
  text-align: center;
  object-fit: cover;
  filter: grayscale(100%);
}

/*
.video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  
  
}*/


/* AVISO DE COOKIES */

.aviso-cookies {
	display: none;
	background: #fff;
	padding: 20px;
	width: calc(100% - 40px);
	max-width: 300px;
	line-height: 150%;
	border-radius: 10px;
	position: fixed;
	bottom: 20px;
	left: 20px;
	z-index: 100;
	padding-top: 60px;
	box-shadow: 0px 2px 20px 10px rgba(222,222,222,.25);
	text-align: center;
}

.aviso-cookies.activo {
	display: block;
}

.aviso-cookies .galleta {
	max-width: 100px;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}

.aviso-cookies .titulo,.aviso-cookies .parrafo {
	margin-bottom: 15px;
}

.aviso-cookies .boton {
	width: 100%;
	background: #595959;
	border: none;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	padding: 15px 20px;
	font-weight: 700;
	cursor: pointer;
	transition: .3s ease all;
	border-radius: 5px;
	margin-bottom: 15px;
	font-size: 14px;
}

.aviso-cookies .boton:hover {
	background: #000;
}

.aviso-cookies .enlace {
	color: #4DBFFF;
	text-decoration: none;
	font-size: 14px;
}

.aviso-cookies .enlace:hover {
	text-decoration: underline;
}

.fondo-aviso-cookies {
	display: none;
	background: rgba(0,0,0,.20);
	position: fixed;
	z-index: 99;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}

.fondo-aviso-cookies.activo {
	display: block;
}

.texto-cookies{
  width: 85%;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 140px;
}