* {
  padding: 0;
  margin: 0;
}
svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  background-color: #130e0b;
  background-image: linear-gradient(
    to bottom,
    rgba(251, 252, 253, 0.86),
    #6b0a31
  );
}
