* {
    margin: 0;
}

.main {
    background-color: rgb(166, 125, 125);
    justify-content: center;
    display: flex;

}

.contenedor {
    border: 5px solid black;
    background-image: url(fondo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 90%;
    height: 200px;
    margin: 20px 20px 20px 20px;
    display: flex;
    align-items: center;
    align-content: center;
    background-color: aliceblue;
}

.contenedor p{
    margin: 20px;

}