* {
    margin: 0;
}

.main {
    background-color: rgb(166, 125, 125);
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;

}

.contenedor {
    border: 5px solid black;
    background-image: url(fondo.svg);

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 90%;
    height: 250px;
    margin: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    background-color: rgb(103, 132, 158);
    text-align: center;
    

}

.contenedor p {
    margin: 20px;
    text-align: justify;

}

#letras-fondo {
    width: 90%;
    border: 3px solid red;
    background-color: rgb(179, 178, 181,0.2);
    color: rgb(80, 78, 78);
    margin: 20px;
    position: relative;
}

#letras-fondo:hover{
    background-color: rgba(10, 9, 10);
   color: white;
}


#imagen1{
   width: 100px;
   position: absolute;
   top: 10px;
   left: 255px;
 }


#imagen2{
    width: 100px;
    position: absolute;
    top: 10px;
    left: 250px;
    
 }
