* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Cambria", Times, serif, sans-serif;
  color: #333;
  font-size: 1.2rem; /* rem se refiere al tamaño de la fuente en el elemento raiz */
  line-height: 1.4em; /* em se refiere al tamaño de la fuente del el elemento donde está contenido */
  margin: 0;
}

h1 {
  font-size: 2rem;
  line-height: 1.3em; /* interlineado del texto */
}

p {
  margin-bottom: 1.6em;
}

.container {
  width: 85%;
  max-width: 1100px;
  margin: 0 auto;
}

.header {
  background: #333;
  color: white;
  padding: 2rem 0;
}

.header a {
  color: white;
  text-decoration: none; /* quita el subrayado*/
  align-items: center;
}

.logo-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation ul li {
  display: inline-block;
}

.navigation ul li a {
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.2s linear;
  border-radius: 5px;
}

.navigation ul li a:hover {
  background: rgb(119, 118, 118);
}
