@import "cabecera.css";
@import "footer.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

.contenedor {
  background-color: rgb(155, 155, 224);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  object-fit: contain;
}

.contenedor img {
  object-fit: contain;
  object-position: top;
}

.div3 img {
  height: 100%;
  width: 100%;
}

.div1 {
  border: 1px solid;
  border-color: rgb(134, 137, 102);
  border-radius: 1px;
  background-color: rgb(225, 171, 220);
  height: auto;
  min-width: 300px;
  width: 33,33%;
  margin: 10px;
  padding: 5px;
  text-align: left;
  text-align: justify;
}
.div2 {
  border: 1px solid;
  border-color: rgb(134, 137, 102);
  border-radius: 1px;
  background-color: rgb(225, 171, 220);
  height: auto;
  min-width: 300px;
  width: 33,33%;
  margin: 10px;
  padding: 5px;
  text-align: left;
  text-align: justify;
}
.div3 {
  border: 1px solid;
  border-color: rgb(134, 137, 102);
  border-radius: 1px;
  background-color: rgb(225, 171, 220);
  height: auto;
  min-width: 300px;
  width: 33,33%;
  margin: 10px;
  padding: 5px;
  text-align: left;
  text-align: justify;
}
