* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: rgb(46, 33, 33);
  min-height: 100vh;
  display: flex;
}

.contenedor {
  background-color: rgb(46, 33, 33);
  width: 100%;
  max-width: 1200px;
  margin: auto;

  /*Flexbox
    display: flex;
    gap: 20px; */

  /*Grid*/
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
}

.contenedor-conciertos {
  /*Flexbox
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    color: white; */

  /*Grid*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card {
  border: 1px solid rgb(121, 119, 119);
  border-radius: 10px;
  min-height: 200px;
  font-weight: bold;
  padding: 20px;
  position: relative;
  overflow: hidden;
  color: white;
  background-size: cove;
  background-position: center center;
  

  background-color: rgba(54, 53, 53, 0.5); /* Color de fondo */
  background-blend-mode: overlay; /* Mezcla la imagen y el color */
  backdrop-filter: blur(5px); /* Aplica un desenfoque a la imagen */

  /*Flexbox
    width: calc(33.33% - 20px); */
}

.card .textos {
  height: 100%;

  /*Flexbox*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /*Grid
    display: grid;
    grid-template-rows: 1fr auto;*/
}

.banner {
  border: 1px solid rgb(121, 119, 119);
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  background-size: cover;
  background-position: center center;
  color: white;

  /* Flexbox 
    width: 30%;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /*Grid
    display: grid;
    grid-template-rows: auto auto auto;
    align-items: center;*/
}
